{% extends "projectManager/base.html" %}
{% block title %}Experimental results of {{ project.project_text }}{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}

{% block body %}

<h2>Graph for query {{ query }}</h2>

<h3>Used algorithms</h3>
{% for alg in algorithm_list %}
{{ alg.0 }} {{ alg.1 }}<br/>
{% endfor %}

<br/>

<h1>Summary for {{ result_title }} on {{ server.server_name }}</h1>

{% load humanize %}
{% for query, value_query, query_min_list in value_list %}
{% if summary %}
<h2>Result for query {{ query }}</h2>
	<!-- summary table -->
	<table>
	{% for min_list in query_min_list %}
	<tr>
	{% if forloop.counter == 1 %}
		{% for min in min_list.0 %}
		{% if forloop.counter == 1 %}
		<td>{{ min }}</td>
		{% else %}
		<td>{{ min.0 }} {{ min.1 }}</td>
		{% endif %}
		{% endfor %}
	{% else %}
		{% for min in min_list.0 %}
		{% if min == min_list.1 %}
		<td align="right" bgcolor="#00ff00">
		{% elif forloop.counter == 1 %}
		<td>
		{% else %}
		<td align="right">
		{% endif %}
		{{ min | intcomma }}</td>
		{% endfor %}
	{% endif %}
	</tr>

	{% endfor %}
	</table></br>
{% else %}
	{% for alg, param_list, value_alg, min_index in value_query %}
	<h3>{{ alg.0 }} {{ alg.1 }}</h3>
	<!-- individual tables -->
	<table>
		<tr>
			<td>Parameters</td>
			{% for param in param_list %}
				<td>{{ param.0 }}</td>
			{% endfor %}
		</tr>
		{% for dataset, value_data, min_value, max_value in value_alg %}
			<tr>
				<td>{{ dataset }}</td>
				{% for value in value_data %}
				<td align="right">
					{% if value == min_value %}
					<font color="blue">
					{% elif value == max_value %}
					<font color="red">
					{% elif value == "failed" %}
					<font color="red">
					{% else %}
					<font color="black">
					{% endif %}
					{{ value | intcomma }}</font></td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	{% endfor %}
{% endif %}
{% endfor %}
<img src="{{ graph.graph_file.url }}"/>

<h2>
<a href="{% url 'project:exp' project.id %}">To experiments</a>
</h2>
{% endblock %}
