{% extends "projectManager/base.html" %}
{% block title %}Experimental results of {{ project.project_text }}{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}

{% block body %}
<form id="ResultForm" action="{% url 'project:datalistResult' project.id datalist.id %}" method="get"></form>
<h2>Server List</h2>
{% for count, server in server_list %}
<input type="radio" name="server" value="s_{{ server.id }}" form="ResultForm" {% if forloop.counter == 1 %}checked{% endif %}/>{{ server.server_name }}({{ count }})<br/>
{% endfor %}

<h2>Serverlist List</h2>
{% for serverlist, count in serverlist_list %}
<input type="radio" name="server" value="sl_{{ serverlist.id }}" form="ResultForm" />{{ serverlist.name }}({{ count.0 }}: {% for server in count.1 %}{{ server.server_name }}{% if not forloop.last %}, {%endif%}{% endfor %})<br/>
{% endfor %}

<h2>Result List</h2>
{% for result in project.getSummaryFilter %}
<input type="radio" name="summary" value="{{ forloop.counter }}" form="ResultForm" {% if forloop.counter == 1 %}checked{% endif %}/>{{ result }}<br/>
{% endfor %}

<h2>Aggregation Method</h2>
<input form="ResultForm" type="radio" name="aggregation" value="avg" checked>Average</input><br/>
<input form="ResultForm" type="radio" name="aggregation" value="latest">Latest</input><br/>
<input form="ResultForm" type="radio" name="aggregation" value="minmax">Except minimum/maximum</input><br/>

<h2>Others</h2>
<input form="ResultForm" type="checkbox" name="print_variance" value="True">Print Variance</input><br/>
<input form="ResultForm" type="checkbox" name="latest_algorithm" value="True" checked>Latest Algorithms Only</input><br/>

<input type="submit" value="Get Result" form="ResultForm"/>

{% endblock %}
