<!-- requires project and exp_todo_list -->
{% load humanize %}

{% if exp_todo_list %}
<table>
    <tr>
		<td>Count</td>
        <td>Date</td>
		<td>Server</td>
		<td>ServerList</td>
        <td>Algorithm</td>
        <td>Dataset</td>
		{% for param in project.getQueryFilterName %}
		<td>{{ param }}</td>
		{% endfor %}
		{% for param in project.getParamFilterName %}
		<td>{{ param }}</td>
		{% endfor %}
		<td>is_running</td>
		<td>assigned_to</td>
		<td>is_finished</td>
        <td>View details</td>
		<td>Invalidate</td>
    </tr>

    {% for exp in exp_todo_list %}
    <tr>
		<td>{{ forloop.counter }}</td>
        <td>{{ exp.pub_date }}</td>
		{% if not exp.server == None %}
		<td><a href="{% url 'project:servers' exp.server.id %}">{{ exp.server.server_name }}</a></td>
		{% else %}
		<td></td>
		{% endif %}
		
		{% if not exp.serverlist == None %}
		<td><a href="{% url 'project:configureServerList' exp.serverlist.id %}">{{ exp.serverlist.name }}</a></td>
		{% else %}
		<td></td>
		{% endif %}

		<td><a href="{% url 'project:algorithmDetail' project.id exp.algorithm.id %}">{{ exp.algorithm.name }} {{ exp.algorithm.version }}</a></td>

		<td><a href="{% url 'project:datasetDetail' project.id exp.dataset.id %}">{{ exp.dataset.name }}</a></td>
		{% for value in exp.toQueryValueList %}
		{% if value.isdigit %}
		<td>{{ value | floatformat | intcomma }}</td>
		{% else %}
		<td>{{ value }}</td>
		{% endif %}
		{% endfor %}
		{% for value in exp.toParamValueList %}
		{% if value.isdigit %}
		<td>{{ value | floatformat | intcomma }}</td>
		{% else %}
		<td>{{ value }}</td>
		{% endif %}
		{% endfor %}
		<td>{{ exp.is_running }}</td>
		<td>{{ exp.assigned_to }}</td>
		<td>{{ exp.is_finished }}</td>
		<td></td>
		<td><form action={% url 'project:modExpTodo' project.id exp.id %} method="POST"/>{% csrf_token %}<input type="submit" name="method" value="failed"/></form></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
