.idea/django-project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
mysite/db.sqlite3
mysite/mysite/settings.py
mysite/mysite/__pycache__/
mysite/polls/__pycache__/
mysite/polls/migrations/__pycache__/
mysite/projectManager/__pycache__/
mysite/projectManager/migrations/__pycache__/
mysite/db.sqlite3.bak
mysite/pdf_files
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
*.swp
*.pyc
mysite/projectManager/static/projectManager/expUploader
