{% extends "projectManager/base.html" %}
{% block title %}Hadoop Settings{% endblock %}

{% block body %}
{% load staticfiles %}
<a href="http://hadoop.apache.org/releases.html" target="_blank">Hadoop Homepage</a><br/>
<a href={% static 'projectManager/install/install_hadoop.sh' %} download>Installer Download</a><br/>
<a href={% static 'projectManager/install/install_java.sh' %} download>Java8 Installer Download</a><br/>


wget http://apache.mirror.cdnetworks.com/hadoop/common/hadoop-2.6.4/hadoop-2.6.4.tar.gz<br/>
wget http://d3kbcqa49mib13.cloudfront.net/spark-2.0.0-bin-hadoop2.6.tgz<br/>
sudo mkdir /usr/local/hadoop-datastore


<h2>core-site.xml</h2>
<pre>
{% include "projectManager/setting/hadoop/core-site.template" %}
</pre>

<h2>hdfs-site.xml</h2>
<pre>
{% include "projectManager/setting/hadoop/hdfs-site.template" %}
</pre>

<h2>yarn-site.xml</h2>
<pre>
{% include "projectManager/setting/hadoop/yarn-site.template" %}
</pre>

<h2>mapred-site.xml</h2>
<pre>
{% include "projectManager/setting/hadoop/mapred-site.template" %}
</pre>

<center><a href="{% url 'project:index' %}">To main menu</a></center>
{% endblock %}
