{% extends "projectManager/base.html" %}
{% block title %}{{ algorithm.name }} Details{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}


{% block body %}

<h1>Algorithm: {{ algorithm.name }} </h1>
Version: {{ algorithm.version }}


<h2>Experiments</h2>

{% if algorithm.expitem_set.all %}
{% include 'projectManager/expListTemplate.html' %}
{% else %}
<h3>There is no experimental results</h3>
{% endif %}


<center><a href="{% url 'project:exp' algorithm.project.id %}">To experiments</a></center>
<center><a href="{% url 'project:index' %}">To main menu</a></center>
{% endblock %}
