{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/dashboard.css' %}"/>


<h1> Experimental results for {{ project.project_text }}</h1>


<h2>List of Experiments</h2>

<a href="{% url 'project:expForm' project.id %}">Add a new experimental result</a><br/><br/>
{% if project.expitem_set.all %}
<table>
    <tr>
        <td>Date</td>
        <td>Algorithm</td>
        <td>Dataset</td>
        {% for param in project.getParamList %}
        <td>{{ param }}</td>
        {% endfor %}
        <td>View details</td>
    </tr>

    {% for exp in project.expitem_set.all %}
    <tr>
        <td>{{ exp }}</td>
        <td>{{ exp.algorithm }}</td>
        <td>{{ exp.dataset }}</td>
        {% for value in exp.toPrintList %}
        <td>{{ value }}</td>
        {% endfor %}
        <td><a href="{% url 'project:expDetail' exp.id %}">detail</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h2>List of graphs </h2>

List experiments to do <br/>


<h2>List of algorithms</h2>
<a href="{% url 'project:algorithmForm' project.id %}">Add an algorithm</a><br/><br/>
<table>
    <tr>
        <td>Name</td>
        <td>Version</td>
    </tr>

    {% for algorithm in project.algorithm_set.all %}
    <tr>
        <td><a href="{% url 'project:algorithmDetail' project.id algorithm.id %}">{{ algorithm.name }}</a></td>
        <td>{{ algorithm.version }}</td>
    </tr>
    {% endfor %}

</table>

<h2>List of Dataset</h2>
<a href="{% url 'project:datasetForm' project.id %}">Add a dataset</a><br/><br/>
<table>
    <tr>
        <td>Name</td>
        <td>Is synthetic</td>
        <td>Synthetic parameters</td>
    </tr>

    {% for dataset in project.dataset_set.all %}
    <tr>
        <td><a href="{% url 'project:datasetDetail' project.id dataset.id %}">{{ dataset.name }}</td>
        <td>{{ dataset.is_synthetic }}</td>
        <td>{{ dataset.synthetic_parameters }}</td>
    </tr>
    {% endfor %}
</table>

<center>
    <a href="{% url 'project:detail' project.id %}">To project detail</a><br/>
    <a href="{% url 'project:index' %}">To main menu</a>
</center>
