{% extends "projectManager/base.html" %}
{% block title %}Experimental results of {{ project.project_text }}{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}

{% block body %}
<h1> Experimental results for {{ project.project_text }}</h1>


<h2>List of Experiments</h2>


<a href="{% url 'project:expForm' project.id %}">Add a new experimental result</a><br/><br/>
{% if project.expitem_set.all %}
<h3>There are {{ project.expitem_set.all.count }} experiment{{ project.expitem_set.all.count | pluralize }}: 
<a href="{% url 'project:expListAll' project.id %}">See all</a></h3>

{% include 'projectManager/expListTemplate.html' %}


<form id="Invalidate old algorithms" action="{% url 'project:invalidateOld' project.id %}" method="post">
	{% csrf_token %}<input type="submit" value="Invalidate Old" />
</form>
{% endif %}



<h2>List of graphs </h2>

List experiments to do <br/>


<h2>List of algorithms</h2>
<a href="{% url 'project:algorithmForm' project.id %}">Add an algorithm</a><br/><br/>
<table>
    <tr>
        <td>Name</td>
        <td>Version</td>
    </tr>

    {% for algorithm in project.algorithm_set.all %}
    <tr>
        <td><a href="{% url 'project:algorithmDetail' project.id algorithm.id %}">{{ algorithm.name }}</a></td>
        <td>{{ algorithm.version }}</td>
    </tr>
    {% endfor %}

</table>

<h2>List of Data List</h2>
<a href="{% url 'project:addDataList' project.id %}">Add a new Dataset List</a><br/><br/>
<table>
	<tr>
		<td>Name</td>
		<td>Description</td>
		<td>Configure</td>
		<td>Results</td>
	</tr>

	{% for datalist in datalist_list %}
	<tr>
		<td>{{ datalist.name }}</td>
		<td>{{ datalist.description }}</td>
		<td><a href="{% url 'project:datalistConfigure' project.id datalist.id %}">Configure</a></td>
		<td><a href="{% url 'project:datalistResultSelect' project.id datalist.id %}">Results</a></td>
	</tr>
	{% endfor %}
</table>

<h2>List of Dataset</h2>
<a href="{% url 'project:datasetForm' project.id %}">Add a dataset</a><br/><br/>
<table>
    <tr>
        <td>Name</td>
        <td>Is synthetic</td>
		<td>Size</td>
    </tr>

    {% for dataset in dataset_list %}
    <tr>
        <td><a href="{% url 'project:datasetDetail' project.id dataset.id %}">{{ dataset.name }}</td>
        <td>{{ dataset.is_synthetic }}</td>
		{% if dataset.size %}
		<td>{{ dataset.size|filesizeformat }}</td>
		{% else %}
		<td></td>
		{% endif %}
    </tr>
    {% endfor %}
</table>

<center>
    <a href="{% url 'project:detail' project.id %}">To project detail</a><br/>
    <a href="{% url 'project:index' %}">To main menu</a>
</center>
{% endblock %}
