{% extends "projectManager/base.html" %}
{% block title %}Exp Compare{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}

{% block body %}
<h1>Exp compare</h1>

<h2>{{ project }}</h2>

<table>
	<tr>
		<td></td>
		{% for exp in expList %}
		<td>{{ exp.id }}</td>
		{% endfor %}
	</tr>

	<tr>
		<td>Dataset</td>
		{% for exp in expList %}
		<td><a href="{% url 'project:datasetDetail' exp.project.id exp.dataset.id %}">{{ exp.dataset.name }}</a></td>
		{% endfor %}
	</tr>

	<tr>
		<td>Algorithm</td>
		{% for exp in expList %}
		<td><a href="{% url 'project:algorithmDetail' exp.project.id exp.algorithm.id %}">{{ exp.algorithm.name }}</a></td>
		{% endfor %}
	</tr>

	<tr>
		<td>Server</td>
		{% for exp in expList %}
		{% if exp.server != None %} 
		<td><a href="{% url 'project:servers' exp.server.id %}">{{ exp.server.server_name }}</a></td>
		{% else %}
		<td></td>
		{% endif %}
		{% endfor %}
	</tr>

</table>

{% load humanize %}


<!-- parameter -->
<h2>Paramters</h2>
{% if parameterList %}
<table>
	<tr>
		<td align="left">Name</td>
		{% for exp in expList %}
		<td>{{ exp.id }} {{ exp.algorithm.name }}</td>
		{% endfor %}
		<td>Equals</td>
	</tr>
    {% for attribute, valueList in parameterList %}
    <tr>
        <td align="left">{{ attribute }}</td>
		{% for value in valueList %}
		{% if value.isdigit %}
        <td align="right">{{ value | floatformat | intcomma }}</td>
		{% else %}
		<td align="left">{{ value }}</td>
		{% endif %}
		{% endfor %}
		{% if attribute in sameValue %}
		<td><font color="green">Same</font></td>
		{% else %}
		<td><font color="red">Different</font></td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}


<!-- result table -->
<h2>Result</h2>
{% if resultList %}
<table>
	<tr>
		<td align="left">Name</td>
		{% for exp in expList %}
		<td>{{ exp.id }} {{ exp.algorithm.name }}</td>
		{% endfor %}
		<td>Equals</td>
		<td>Min</td>
		<td>Max</td>
		<td>Ratio</td>
	</tr>

    {% for attr, minmax in resultList %}
    <tr>

        <td align="left">{{ attr.0 }}</td>
		{% for value in attr.1 %}
		{% if value.isdigit %}
		<td align="right">
			{% if attr.0 in sameValue %}
			<font color="green">
			{% elif value == minmax.1.0 %}
			<font color="red">
			{% elif value == minmax.0.0 %}
			<font color="blue">
			{% else %}
			<font color="black">
			{% endif %}
				{{ value | floatformat | intcomma }}
			</font>
		</td>
		{% else %}
		<td align="left">
			{% if attr.0 in sameValue %}
			<font color="green">
			{% else %}
			<font color="black">
			{% endif %}
			{{ value }}
			</font>
		</td>
		{% endif %}
		{% endfor %}
		{% if attr.0 in sameValue %}
		<td colspan="4"><font color="green">Same</font></td>
		{% elif attr.0 in similarValue %}
		<td><font color="gray">Similar</font></td>
		<td>{% if minmax.0 != "" %}{{ minmax.0.0 | floatformat | intcomma }} (idx: {{ minmax.0.1 }}){% endif %}</td>
		<td>{% if minmax.1 != "" %}{{ minmax.1.0 | floatformat | intcomma }} (idx: {{ minmax.1.1 }}){% endif %}</td>
		<td>{{ minmax.2 | floatformat | intcomma }}</td>
		{% else %}
		<td><font color="red">Different</font></td>
		<td>{% if minmax.0 != "" %}{{ minmax.0.0 | floatformat | intcomma }} (idx: {{ minmax.0.1 }}){% endif %}</td>
		<td>{% if minmax.1 != "" %}{{ minmax.1.0 | floatformat | intcomma }} (idx: {{ minmax.1.1 }}){% endif %}</td>
		<td>{{ minmax.2 | floatformat | intcomma }}</td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}


<center><a href="{% url 'project:exp' project.id %}">To experiments</a></center>
<center><a href="{% url 'project:index' %}">To main menu</a></center>
{% endblock %}
