{% extends "projectManager/base.html" %}
{% block title %}Exp {{ expitem.id }} Details{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}

{% block body %}
<h1>Exp {{ expitem.id }}) {{ expitem }} detail</h1>

<h2>Experimented {{ expitem.exp_date }}</h2>
<h2>Uploaded {{ expitem.upload_date }}</h2>

<h2>Project</h2>
{{ expitem.project }}

<h2>Dataset</h2>
<a href="{% url 'project:datasetDetail' expitem.project.id expitem.dataset.id %}">{{ expitem.dataset.name }}</a>

<h2>Algorithm</h2>
<a href="{% url 'project:algorithmDetail' expitem.project.id expitem.algorithm.id %}">{{ expitem.algorithm.name }}</a>

{% if expitem.server %}
<h2>Server</h2>
<a href="{% url 'project:servers' expitem.server.id %}">{{ expitem.server.server_name }}</a>
{% endif %}

<!-- parameter -->
<h2>Paramters</h2>
{% if parameterList %}
<table>
    {% for attribute, value in parameterList %}
    <tr>
        <td align="left">{{ attribute }}</td>
		{% if value.isdigit %}
        <td align="right">{{ value | floatformat }}</td>
		{% else %}
		<td align="right">{{ value }}</td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}


<!-- result table -->
<h2>Result</h2>
{% if parsedResult %}
<table>
    {% for attribute, value in parsedResult %}
    <tr>
        <td align="left">{{ attribute }}</td>
		{% if value.isdigit %}
        <td align="right">{{ value | floatformat }}</td>
		{% else %}
		<td align="right">{{ value }}</td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}

<h2>Related Results</h2>
Todo <br/>

<center><a href="{% url 'project:exp' expitem.project.id %}">To experiments</a></center>
<center><a href="{% url 'project:index' %}">To main menu</a></center>
{% endblock %}
