{% extends "projectManager/base.html" %}
{% block title %} List of all experiments of {{ project.project_text }}{% endblock %}
{% block additionalStyle %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/style.css' %}"/>
{% endblock %}

{% block body %}
<h1> Experimental results for {{ project.project_text }}</h1>

<h2>List of Experiments</h2>

<a href="{% url 'project:expForm' project.id %}">Add a new experimental result</a><br/><br/>
{% if project.expitem_set.all %}
<table>
    <tr>
        <td>Date</td>
        <td>Algorithm</td>
        <td>Dataset</td>
		{% for param in project.getParamFilter %}
		<td>{{ param }}</td>
		{% endfor %}
        {% for param in project.getResultFilter %}
        <td>{{ param }}</td>
        {% endfor %}
        <td>View details</td>
    </tr>

	<h3>There are {{ project.expitem_set.all.count }} experiment{{ project.expitem_set.all.count | pluralize }}</h3>
    {% for exp in project.expitem_set.all %}
    <tr>
        <td>{{ exp.exp_date }}</td>
        <td>{{ exp.algorithm.name }}</td>
        <td>{{ exp.dataset.name }}</td>
		{% for value in exp.toParamValueList %}
		<td>{{ value | floatformat }}</td>
		{% endfor %}
        {% for value in exp.toResultValueList %}
        <td>{{ value | floatformat }}</td>
        {% endfor %}
        <td><a href="{% url 'project:expDetail' exp.id %}">detail</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<center>
    <a href="{% url 'project:detail' project.id %}">To project detail</a><br/>
    <a href="{% url 'project:index' %}">To main menu</a>
</center>
{% endblock %}
