<!-- requires project and exp_list -->
<form action="{% url 'project:expCompare' project.id %}" method="get">
<table>
    <tr>
		<td></td>
        <td>Date</td>
		<td>Server</td>
        <td>Algorithm</td>
        <td>Dataset</td>
		{% for param in project.getParamFilterName %}
		<td>{{ param }}</td>
		{% endfor %}
        {% for param in project.getResultFilterName %}
        <td>{{ param }}</td>
        {% endfor %}
        <td>View details</td>
		<td>Invalidate</td>
    </tr>

    {% for exp in exp_list %}
    <tr>
		<td><input type="checkbox" name="exp" value="{{ exp.id }}"/>
        <td>{{ exp }}</td>
		<td>{{ exp.server.server_name }}</td>
		<td>{{ exp.algorithm.name }} {{ exp.algorithm.version }}</td>
        <td>{{ exp.dataset.name }}</td>
		{% for value in exp.toParamValueList %}
		<td>{{ value | floatformat }}</td>
		{% endfor %}
        {% for value in exp.toResultValueList %}
        <td>{{ value | floatformat }}</td>
        {% endfor %}
		{% if exp.invalid %}<td><font color="red">Invalid</font></td>
		{% else %}<td><a href="{% url 'project:expDetail' exp.id %}">detail</a></td>
		{% endif %}
		{% if exp.invalid %}
		<td><form action="{% url 'project:modifyExp' project.id exp.id %}" method="POST">{% csrf_token %}<input type="submit" name="method" value="delete" /></form></td>
		{% else %}
		<td><form action="{% url 'project:modifyExp' project.id exp.id %}" method="POST">{% csrf_token %}<input type="submit" name="method" value="invalid" /></form></td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Compare"/>
</form>

