<!-- requires project and exp_list -->
{% load humanize %}
<form id="CompareForm" action="{% url 'project:expCompare' project.id %}" method="get"></form>
<table>
    <tr>
		<td></td>
        <td>Date</td>
		{% if not skip_server %}
		<td>Server</td>
		{% endif %}
		{% if not skip_algorithm %}
        <td>Algorithm</td>
		{% endif %}
		{% if not skip_dataset %}
        <td>Dataset</td>
		{% endif %}
		{% for param in project.getQueryFilterName %}
		<td>{{ param }}</td>
		{% endfor %}
		{% for param in project.getParamFilterName %}
		<td>{{ param }}</td>
		{% endfor %}
        {% for param in project.getResultFilterName %}
        <td>{{ param }}</td>
        {% endfor %}
        <td>View details</td>
		<td>Invalidate</td>
    </tr>

    {% for exp in exp_list %}
    <tr>
		<td><input type="checkbox" name="exp" value="{{ exp.id }}" form="CompareForm"/>
        <td>{{ exp }}</td>
		{% if not skip_server %}
			{% if not exp.server == None %}
				<td><a href="{% url 'project:servers' exp.server.id %}">{{ exp.server.server_name }}</a></td>
			{% else %}
				<td></td>
			{% endif %}
		{% endif %}
		{% if not skip_algorithm %}
		<td><a href="{% url 'project:algorithmDetail' project.id exp.algorithm.id %}">{{ exp.algorithm.name }} {{ exp.algorithm.version }}</a></td>
		{% endif %}
		{% if not skip_dataset %}
		<td><a href="{% url 'project:datasetDetail' project.id exp.dataset.id %}">{{ exp.dataset.name }}</a></td>
		{% endif %}
		{% for value in exp.toQueryValueList %}
		{% if value.isdigit %}
		<td>{{ value | floatformat | intcomma }}</td>
		{% else %}
		<td>{{ value }}</td>
		{% endif %}
		{% endfor %}
		{% for value in exp.toParamValueList %}
		{% if value.isdigit %}
		<td>{{ value | floatformat | intcomma }}</td>
		{% else %}
		<td>{{ value }}</td>
		{% endif %}
		{% endfor %}
        {% for value in exp.toResultValueList %}
        <td>{{ value | floatformat | intcomma }}</td>
        {% endfor %}
		{% if exp.invalid %}<td><font color="red">Invalid</font></td>
		{% else %}<td><a href="{% url 'project:expDetail' exp.id %}">detail</a></td>
		{% endif %}
		{% if exp.invalid %}
		<td><form action="{% url 'project:modifyExp' project.id exp.id %}" method="POST">{% csrf_token %}<input type="submit" name="method" value="delete" /></form></td>
		{% else %}
		<td><form action="{% url 'project:modifyExp' project.id exp.id %}" method="POST">{% csrf_token %}<input type="submit" name="method" value="invalid" /></form></td>
		{% endif %}
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Compare" form="CompareForm"/>
</form>

