{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'projectManager/css/dashboard.css' %}"/>


<h1>Server {{ server.server_name }}</h1>
<ul>
	<li>IP: {{ server.server_ip }} </li>
	<li>CPU: {{ server.server_cpu }}</li>
	<li>Memory: </li>
	<li>Disk: Disk usage: 0% </li>
</ul>
<h2>ExpTodos</h2>

<ul>
{% for exptodo in exptodo_list %}
<li>{{ exptodo.project }} {{ exptodo.algorithm }} {{ exptodo.dataset.name }} {{ exptodo.query }} {{ exptodo.parameter }}</li>
{% endfor %}
</ul>

<h2>Server status</h2>

<h2>List of experiments</h2>

<center><a href="{% url 'project:index' %}">To main menu</a></center>
